.fab {
  width: 56px;
  height: 56px;
  right: 16px;
  bottom: 16px;
  font-size: 24px;
}

.setting {
  width: 56px;
  height: 56px;
  left: 16px;
  bottom: 16px;
}

.txt-break {
  word-break: keep-all;
}

.pf {
  padding-bottom: calc(56px + 16px);
}

.pff {
  padding-bottom: 30vh;
}

.offcanvasHeader button {
  background-color: rgb(255, 227, 134) !important;
}

.loading {
  position: fixed;
  height: 100vh;
  width: 100%;
  background-image: url('/assets/images/loading.gif');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  opacity: 0.4;
  z-index: 1046;
}

.fsxs {
  font-size: 12px;
}

@media (min-width: 768px) {
  .fab {
    width: 80px;
    height: 80px;
    font-size: 48px;
  }
}

@media (max-width: 375px) {
  .fss {
    font-size: 12px;
  }
}