.fab {
  width: 56px;
  height: 56px;
  right: 16px;
  bottom: 16px;
}

.setting {
  width: 56px;
  height: 56px;
  left: 16px;
  bottom: 16px;
}

.txt-break {
  word-break: break-all;
}

.pf {
  padding-bottom: calc(56px + 16px);
}

.pff {
  padding-bottom: 30vh;
}